body {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #fff;
  font-family: 'Sacramento', Arial, serif;
  font-weight: 400;
  font-size: 4rem;
  margin: 0 0 20px 0;
}

a {
  color: #F14E95;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #F14E95;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

::-webkit-selection {
  color: #fff;
  background: #F14E95;
}

::-moz-selection {
  color: #fff;
  background: #F14E95;
}

::selection {
  color: #fff;
  background: #F14E95;
}
